label {
    background-color: red;
    font: black;
    border: solid;
    margin: 30px;
}

input[type="radio"] {
    margin: 20px 10px 20px 10px;
}

nav {
    border: solid;
    height: 700px;

}

main {
    height: 700px;
    border: solid;
}
#countDown {    
    background-color: red;
    height: 200px;
    font-size: 70px;
    text-align: center;

}

#leadBoard {
    border: solid;
    height: 400px;
    background-color: yellow;


}

#welcome {
    border: solid;
}

#timerHeader {
    background-color: lightcoral;
    text-align: center;
    font-weight: bolder;
    padding: 5px;
}

#leadHeader {
    background-color: yellow;
}