label {
    color: red;
    background-color: red;
    font: red;
    border: solid;


}

.choices {
    color: red;
    background-color: red;
    font: red;
    border: solid;

}

#list {
    color: red;
    background-color: red;
    font: red;
    border: solid;

}

.list {
    color: red;
    background-color: red;
    font: red;
    border: solid;

}